<html >
<head>
    <meta charset="UTF-8">
    <title>Suduko Online game</title>
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="chooselevel.css">
    <link rel="stylesheet" href="home.css">


    <link rel="stylesheet" media="all" type="text/css" href="sudokuJS.css">
</head>

<body>
<div class="form">
    <form action="/SPPlay" method="post">
    <div id="wrap">
        <h1>Click a difficulty level to start game</h1>
    </div>

        <br/>

        <table>
            <tr>
                <td align="center" style="vertical-align:middle;width:210px;height:45px;background-color:#c0c0c0;cursor:pointer;">
                    <button class="js-generate-board-btn--easy" name="Easy">Easy</button></td>
                <td align="center" style="vertical-align:middle;width:210px;height:45px;background-color:#c0c0c0;cursor:pointer;">
                    <button class="js-generate-board-btn--medium" name="Medium">medium</button></td>
                <td align="center" style="vertical-align:middle;width:210px;height:45px;background-color:#c0c0c0;cursor:pointer;">
                    <button class="js-generate-board-btn--hard" name="Hard">Hard</button></td>
                <td align="center" style="vertical-align:middle;width:210px;height:45px;background-color:#c0c0c0;cursor:pointer;">
                    <button class="js-generate-board-btn--hard" name="Very Hard">Very Hard</button></td>

            </tr>
        </table>
    </form>
    <a href="GoBack">Home</a>
</div>

<script>put
    var	$candidateToggle = $(".js-candidate-toggle"),
            $generateBoardBtnEasy = $(".js-generate-board-btn--easy"),
            $generateBoardBtnMedium = $(".js-generate-board-btn--medium"),
            $generateBoardBtnHard = $(".js-generate-board-btn--hard"),
            $generateBoardBtnVeryHard = $(".js-generate-board-btn--very-hard"),

            $solveStepBtn = $(".js-solve-step-btn"),
            $solveAllBtn = $(".js-solve-all-btn"),
            $clearBoardBtn = $(".js-clear-board-btn"),

            mySudokuJS = $("#sudoku").sudokuJS({
                difficulty: "easy"//ٍ Startup level
                //change state of our candidate showing checkbox on change in sudokuJS
                ,candidateShowToggleFn : function(showing){
                    $candidateToggle.prop("checked", showing);
                }
            });

    $solveStepBtn.on("click", mySudokuJS.solveStep);
    $solveAllBtn.on("click", mySudokuJS.solveAll);
    $clearBoardBtn.on("click", mySudokuJS.clearBoard);

    $generateBoardBtnEasy.on("click", function(){
        mySudokuJS.generateBoard("easy");
    });
    $generateBoardBtnMedium.on("click", function(){
        mySudokuJS.generateBoard("medium");
    });
    $generateBoardBtnHard.on("click", function(){
        mySudokuJS.generateBoard("hard");
    });
    $generateBoardBtnVeryHard.on("click", function(){
        mySudokuJS.generateBoard("very hard");
    });

    $candidateToggle.on("change", function(){
        if($candidateToggle.is(":checked"))
            mySudokuJS.showCandidates();
        else
            mySudokuJS.hideCandidates();
    });
    $candidateToggle.trigger("change");
</script>
</body>
</html>
