<% include ../views/header.ejs %>
<div class="form">

    <div id="changePassword">
        <h1>Suduko Online game</h1>

        <form action="/changePassword" method="post">

            <div class="field-wrap">

                <input type="hidden" value=<%= username %> required autocomplete="off" name="username"/>
            </div>

            <div class="field-wrap">
                <label>
                    Enter your old Password<span class="req">*</span>
                </label>
                <input type="text" required autocomplete="off" name="oldpassword"/>

            </div>
            <div class="field-wrap">
                <label>
                    New Password<span class="req">*</span>
                </label>
                <input type="text"required autocomplete="off" name="newpassword"/>

            </div>

            </div>
                <div class="field-wrap">
                    <label>
                        Confirm your New Password<span class="req">*</span>
                    </label>
                    <input type="password"required autocomplete="off" name="confirmpassword"/>

                </div>
            </form>
                <button type="submit" class="button">Save Password</button>
                <button type="submit" class="button">Cancel</button>
                <% include ../views/footer.ejs %>