<% include ../views/header.ejs %>

<link rel="stylesheet" href="invite.css">

<div class="center">

<img src="http://downloadicons.net/sites/default/files/user-icon-44709.png" alt="User" style="width:200px;height:200px;"/>


<h2 class="myMainDiv">USER </h2>

<h1 class="myMainDiv">Invite a friend !!!</h1><br>

    <div class="textcenter">
    <table >
        <tr>
            <th>Online Players</th>

       </tr>


        <% if (onlineUsers.length) { %>

            <% onlineUsers.forEach(function(user){ %>
        <tr><td><input type="checkbox" id="user_1" class="usergrp">
            <%= user.username %>
            <% }) %>
        </td>
        <% } %>
</tr>

    </table>
    <br>
    <form action="invite.html">
        <input type="submit" value="Submit" >
    </form>
        </div>
    <p>If you click the "Submit" button, the invite will be sent to the selected player </p>

</div>

<% include ../views/footer.ejs %>
