<html >
<head>
    <meta charset="UTF-8">
    <title>Suduko Online game	</title>
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="newlogin.css">
</head>

<body>
<div class="form">
    <div id="reset">
        <h1>Reset Password?</h1>
    </div>
    <form action="/reset/<%= token %>" method="post">
        <div class="field-wrap1">
            <label>
                Email <span class="req">*</span>
            </label>
            <input type="text"required autocomplete="off" name="email"/>
        </div>
        <div class="field-wrap1">
            <label>
                New Password <span class="req">*</span>
            </label>
            <input type="password"required autocomplete="off" name="password"/>
        </div>
        <div class="field-wrap1">
            <label>
                Confirm Password <span class="req">*</span>
            </label>
            <input type="password"required autocomplete="off" name="confirmpass"/>
        </div>
        <button type="submit" class="button button-block"/>Update Password</button>
    </form>

</div> <!-- /form -->
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

</body>
</html>