<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Verification Done!!!</title>
    <!--<link href="../public/stylesheets/verification.css" rel="stylesheet">-->
</head>
<body>

<div class="verification">
    <h1>The email has been verified..!!!</h1>
    <a href = "http://localhost:3000/login"><input type = "button" value= "go to the login page"></a>

</div>
</body>
</html>